[submodule "suchai-flight-software-v2"]
	path = suchai-flight-software-v2
	url = git@gitlab.com:spel-uchile/flight-software/suchai-flight-software-v2.git
[submodule "libcsp-gs"]
	path = libcsp-gs
	url = git@gitlab.com:spel-uchile/flight-software/libcsp-gs.git
